<%= render "shared/second-header"%>

<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>アカウントの編集</h2>
      <h5>アカウント情報の編集</h5>
      <div class="link-btn-area">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'edit-link-btn'%>
        <%= link_to "トップページに戻る", root_path, class: 'edit-link-btn'%>
      </div>
      <div class="link-space">
        <div>アカウントの消去を希望する方はこちら</div>
        <%= button_to "アカウント消去", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'edit-link-btn' %></p>
      </div>
    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class='field'>
          <div class='field-label'>
            <%= f.label "ユーザー名"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :nickname, autofocus: true%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label "メールアドレス"%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <div class='field-label'>
            <%= f.label "新しいパスワード" %>
          </div>
          <div class='field-input'>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div> 
        </div>

        <div class="field">
          <div class='field-label'>
            <%= f.label "新しいパスワード" %><i>(確認)</i>
          </div>
          <div class='field-input'>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>

        <div class="field">
          <div class='field-label'>
            <%= f.label "現在のパスワード" %>
          </div>
          <div class='field-input'>
            <%= f.password_field :current_password, autocomplete: "current-password" %>
          </div>
        </div>

        <div class='actions'>
          <%= f.submit "更新する", class: 'btn'%>
        </div>
      <% end %>

    </div>
  </div>
</div>

<%= render "shared/footer"%>