<%= render "shared/header" %>

<div class="cycle-main">
  <div class="left-side">
    <div class="top-content">
      サービス一覧
      気になるサービスをクリック！
    </div>
    <ul class="cycle-content">
    <% @cycle.each do |cycle| %>
      <li class='list'>
        <%= link_to cycle_path(cycle.id) do %>
          <div class='cycle-img-content'>
            <%= image_tag cycle.image.variant(resize:'250x250'), class: "cycle-img" %>
          </div>
          <div class='cycle-info'>
            <h3 class='cycle-name'>
              <%= cycle.name %>
            </h3>
            <div class="cycle-detail">
              <span><%= cycle.detail %></span>
            </div>
            <div class='cycle-price'>
              <span><%= cycle.price %>円/1時間<br>(税込み)</span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </div>
  <div class="right-side">
    <div class="right-side-content">
      <div class="cycle-link">
        <%= link_to edit_user_registration_path, class: "cycle-new" do %>
          <div class="cycle-new-title">ようこそ<br><%= current_user.nickname %>さん</div>
          <div class="cycle-new-sub">こちらから登録情報の編集ができます。</div>
        <% end %>
      </div>
    </div>
    <div class="right-side-content">
      <div class="cycle-link">
        <%= link_to new_cycle_path, class: "cycle-new" do %>
          <div class="cycle-new-title">サービス新規投稿</div>
          <div class="cycle-new-sub">こちらからサービスの投稿ができます。</div>
        <% end %>
      </div>
    </div>
    <div class="right-side-content">
      <div class="cycle-link">
        <%= link_to "#", class: "cycle-new" do %>
          <div class="cycle-new-title">ゲストユーザーログイン</div>
          <div class="cycle-new-sub">会員登録不要でご利用いただけます。</div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>