<%= render "shared/header" %>

<div class="cycle-main">
  <div class="left-side">
    <div class='search-bar-contents'>
      <form class="search-form" action="#">
        <input class='input-box' placeholder='キーワードから探す'>
        <button class="search-button">
          <%= image_tag "search.png", class:"search-icon" %>
        </button>
      </form>
    </div>
    <div class='cycle-contents'>
      <div class="cycle-title">
        <h2><%= @cycle.name %></h2>
        <h3 class="cycle-sub">画像をクリックで詳細ページへ</h3>
      </div>
      <div class="bottom-content">
        <div class='cycle-area'>
          <div class='cycle-img-content'>
            <%= image_tag @cycle.image, class: "cycle-img" %>
          </div>
          <div class='cycle-info'>
            <h3 class='cycle-name'>
              <%= @cycle.name %>
            </h3>
            <div class="cycle-detail">
              <span><%= @cycle.detail %></span>
            </div>
            <div class='cycle-price'>
              <span> 利用料(1時間あたり)： <%= @cycle.price %> 円 </span>
            </div>
            <div class='review-star'>
              <span>
                <%= image_tag "star-on.png" %>
                平均評価：<%= @cycle.reviews.average(:rate).round(1) %>
                <%= image_tag "star-on.png" %>
              </span>
            </div>
          </div>
        </div>
        <ul class="review-area">
          <% @review.each do |review| %>
            <li class='review-list'>
              <h3 class='review-title'>
                <%= review.title %>
              </h3>
              <div class='review-user'>
                User： <%= review.user.nickname %>
              </div>
              <div class='review-a'>
                利用した地域： <%= review.area.name %>
              </div>
              <div class="review-detail">
                <span><%= review.detail %></span>
              </div>
              <div class='review-star'>
                <span>
                  <%= image_tag "star-on.png" %>
                  評価：<%= review.rate %>
                  <%= image_tag "star-on.png" %>
                </span>
              </div>              
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="right-side">
    <% if user_signed_in? %>
      <div class="right-side-content">
        <div class="cycle-link">
          <%= link_to edit_user_registration_path(current_user), class: "cycle-new" do %>
            <div class="cycle-new-title">ようこそ<br><%= current_user.nickname %>さん</div>
            <div class="cycle-new-sub">こちらから登録情報の編集ができます。</div>
          <% end %>
        </div>
      </div>
      <% if current_user.admin? %>
        <div class="right-side-content">
          <div class="cycle-link">
            <%= link_to new_cycle_path, class: "cycle-new" do %>
              <div class="cycle-new-title">サービス新規投稿</div>
              <div class="cycle-new-sub">こちらからサービスの投稿ができます。</div>
            <% end %>
          </div>
        </div>
        <div class="right-side-content">
          <div class="cycle-link">
            <%= link_to edit_cycle_path, class: "cycle-new" do %>
              <div class="cycle-new-title">サービス編集</div>
              <div class="cycle-new-sub">こちらからサービスの編集ができます。</div>
            <% end %>
          </div>
        </div>
        <div class="right-side-content">
          <div class="cycle-link">
            <%= link_to cycle_path(@cycle.id), method: :delete, class: "cycle-new" do %>
              <div class="cycle-new-title">サービス削除</div>
              <div class="cycle-new-sub">こちらからサービスの削除ができます。</div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="right-side-content">
        <div class="cycle-link">
          <%= link_to  user_guest_sign_in_path, method: :post, class: "cycle-new" do %>
            <div class="cycle-new-title">ゲストユーザーログイン</div>
            <div class="cycle-new-sub">会員登録不要でご利用いただけます。</div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="right-side-content">
        <div class="cycle-link">
          <%= link_to   new_cycle_review_path(@cycle), class: "cycle-new" do %>
            <div class="cycle-new-title">レビュー投稿</div>
            <div class="cycle-new-sub">こちらからサービスのレビューが行えます。</div>
          <% end %>
        </div>
      </div>
  </div>
</div>

<%= render "shared/footer" %>
