<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class="header-top-content">
    <%= link_to root_path, class:"header-title" do %>
      <div>ShareCling</div>
      <div class="header-sub-title">〜移動に選択肢を〜</div>
    <% end %>
    
    <div class='nav'>
      <ul class='lists-right'>
        <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, edit_user_registration_path(current_user), class: "user-nickname" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="header-center">
    <div class="header-center-top">シェアサイクリング比較レビューサイトなら</div>
    <div class="header-center-bottom">ShareCling</div>
  </div>
</header>