<%= render "shared/header" %>

<div class="cycle-main">
  <div class="left-side">

    <div class='cycle-contents'>
      <div class="cycle-title">
        <h2><%= @cycle.name %></h2>
      </div>
      <div class='review-show-list'>
        <h3 class='review-show-title'>
          <%= @review.title %>
        </h3>
        <div class='review-show-user'>
          User： <%= @review.user.nickname %>
        </div>
        <div class='review-show-a'>
          利用した地域： <%= @review.area.name %>
        </div>
        <div class="review-show-detail">
          <span><%= @review.detail %></span>
        </div>
        <div class='review-show-star'>
          <span>
            <%= image_tag "star-on.png" %>
            評価：<%= @review.rate %>
            <%= image_tag "star-on.png" %>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="right-side">
    <% if user_signed_in? %>
      <div class="right-side-content">
        <div class="cycle-link">
          <%= link_to edit_user_registration_path(current_user), class: "cycle-new" do %>
            <div class="cycle-new-title">ようこそ<br><%= current_user.nickname %>さん</div>
            <div class="cycle-new-sub">こちらから登録情報の編集ができます。</div>
          <% end %>
        </div>
      </div>
      <% if current_user.id == @review.user_id %>
        <div class="right-side-content">
          <div class="cycle-link">
            <%= link_to edit_cycle_review_path(id: @review.id), class: "cycle-new" do %>
              <div class="cycle-new-title">レビュー編集</div>
              <div class="cycle-new-sub">こちらからレビューの編集ができます。</div>
            <% end %>
          </div>
        </div>
        <div class="right-side-content">
          <div class="cycle-link">
            <%= link_to cycle_review_path(id: @review.id), method: :delete, class: "cycle-new" do %>
              <div class="cycle-new-title">レビュー削除</div>
              <div class="cycle-new-sub">こちらからレビューの削除ができます。</div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="right-side-content">
        <div class="cycle-link">
          <%= link_to  user_guest_sign_in_path, method: :post, class: "cycle-new" do %>
            <div class="cycle-new-title">ゲストユーザーログイン</div>
            <div class="cycle-new-sub">会員登録不要でご利用いただけます。</div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>